@model IEnumerable<Payroll.ViewModel.AttendanceViewModel>

@{
    Layout = "";
}
<table class="table" id="data-list">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BadgeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActivated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BadgeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActivated)
                </td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-warning btn-Edit" data-id="@item.Id" title="Edit">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-Delete" data-id="@item.Id" title="Delete">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
</td>
            </tr>
        }

    </tbody>

</table>
<script type="text/javascript">
    $("#data-list").DataTable();
    $(".btn-Edit").click(function () {
        $.ajax({
            url: '@Url.Action("Edit", "Attendance")',
            type: 'get',
            data: {id:$(this).attr("data-id")},
            success: function (result) {
                $(".modal-body").html(result);
                $(".modal-title").html("Edit Division");
                $("#modal-Form").modal("show");
            }
        })
    })
    $(".btn-Delete").click(function () {
        $.ajax({
            url: '@Url.Action("Delete", "Attendance")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-body").html(result);
                $(".modal-title").html("Delete Division");
                $("#modal-Form").modal("show");
            }
        })
    })
</script>