@model IEnumerable<Payroll.ViewModel.JobPositionViewModel>

@{
    Layout = "";
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepartementName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deskripsi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActivated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DepartementName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deskripsi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActivated)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
            <button type="button" class="btn btn-sm btn-warning btn-Edit" data-id="@item.Id">Edit</button>
            <button type="button" class="btn btn-sm btn-danger btn-Delete" data-id="@item.Id">Delete</button>
        </td>
    </tr>
}

</table>

<script type="text/javascript">
    $(".btn-Edit").click(function () {
        $.ajax({
            url: '@Url.Action("Edit", "JobPosition")',
            type: 'get',
            data: {id:$(this).attr("data-id")},
            success: function (result) {
                $(".modal-body").html(result);
                $(".modal-title").html("Edit Job Position");
                $("#modal-Form").modal("show");
            }
        })
    })
    $(".btn-Delete").click(function () {
        $.ajax({
            url: '@Url.Action("Delete", "JobPosition")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-body").html(result);
                $(".modal-title").html("Delete Job Position");
                $("#modal-Form").modal("show");
            }
        })
    })
</script>