@model Payroll.ViewModel.SellingHeaderViewModel
@{
    Layout = "";
}
<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Reference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfSelling)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfSelling)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellingTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellingTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActivated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActivated)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="button" class="btn btn-danger btn-Delete-Confirm" data-id="@Model.Id">Delete</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
    }
</div>

<script type="text/javascript">
    $(".btn-Delete-Confirm").click(function () {
        $.ajax({
            url: '@Url.Action("DeleteConfirm", "SellingHeader")',
            type: 'post',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                if (result.success) {
                    $("#modal-Form").modal("hide")
                    ShowList();
                }
                else {
                    alert("Error : " + result.message)
                }
            }
        })
        return false;
    })
</script>
